<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/wrapper/1_vietnam_stock_vnstock3.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

# I. Cài đặt

## Cài đặt thư viện

In [ ]:
!pip install -U vnstock

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

# II. Truy xuất dữ liệu - CK Việt Nam

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

In [2]:
from vnstock import Listing
listing = Listing(source='vci')

## Listing: Liệt kê danh sách chứng khoán

### Danh sách tất cả mã CK niêm yết (đơn giản)

In [3]:
# VCI là nguồn dữ liệu từ CK Vietcap bên cạnh nguồn từ TCBS
listing.all_symbols()

     symbol                                         organ_name
0       YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1       YEG                     Công ty Cổ phần Tập đoàn Yeah1
2       YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3       YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4       XPH                    Công ty Cổ phần Xà phòng Hà Nội
...     ...                                                ...
1704    AAS            Công ty Cổ phần Chứng khoán SmartInvest
1705    AAM                    Công ty Cổ Phần Thủy Sản MeKong
1706    AAH                           Công ty Cổ phần Hợp Nhất
1707    AAA                  Công ty Cổ phần Nhựa An Phát Xanh
1708    A32                                 Công ty Cổ phần 32

[1709 rows x 2 columns]

### Liệt kê mã CP theo sàn (đầy đủ)

In [4]:
# Dữ liệu bao gồm tất cả các mã không kể đang niêm yết hay không
listing.symbols_by_exchange()

,symbol,exchange,type,organ_short_name,organ_name
0,YTC,UPCOM,STOCK,XNK Y tế TP.HCM,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1,YEG,HSX,STOCK,Tập đoàn Yeah1,Công ty Cổ phần Tập đoàn Yeah1
2,YBM,HSX,STOCK,Khoáng sản CN Yên Bái,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3,YBC,UPCOM,STOCK,Xi măng và Khoáng sản Yên Bái,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4,XPH,UPCOM,STOCK,Xà phòng Hà Nội,Công ty Cổ phần Xà phòng Hà Nội
...,...,...,...,...,...
2814,AAS,UPCOM,STOCK,Chứng khoán SmartInvest,Công ty Cổ phần Chứng khoán SmartInvest
2815,AAM,HSX,STOCK,Thủy sản Mekong,Công ty Cổ Phần Thủy Sản MeKong
2816,AAH,UPCOM,STOCK,Than Hợp Nhất,Công ty Cổ phần Hợp Nhất
2817,AAA,HSX,STOCK,An Phát Bioplastics,Công ty Cổ phần Nhựa An Phát Xanh
2818,A32,UPCOM,STOCK,Công ty 32,Công ty Cổ phần 32

### Liệt kê mã CP theo ngành icb

In [5]:
listing.symbols_by_industries()

,symbol,organ_name,icb_name3,icb_name2,icb_name4,com_type_code,icb_code1,icb_code2,icb_code3,icb_code4
0,BMK,Công ty Cổ Phần Kỹ thuật Nhiệt Mèo Đen,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1,AAA,Công ty Cổ phần Nhựa An Phát Xanh,Hóa chất,Hóa chất,"Nhựa, cao su & sợi",CT,1000,1300,1350,1353
2,LPT,Công ty Cổ phần Thương mại và Sản xuất Lập Phư...,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Đào tạo & Việc làm,CT,2000,2700,2790,2793
3,ABR,Công ty Cổ phần Đầu tư Nhãn Hiệu Việt,Tư vấn & Hỗ trợ Kinh doanh,Hàng & Dịch vụ Công nghiệp,Tư vấn & Hỗ trợ KD,CT,2000,2700,2790,2791
4,ACB,Ngân hàng Thương mại Cổ phần Á Châu,Ngân hàng,Ngân hàng,Ngân hàng,NH,8301,8300,8350,8355
...,...,...,...,...,...,...,...,...,...,...
1587,XMP,Công ty Cổ phần Thủy điện Xuân Minh,Sản xuất & Phân phối Điện,"Điện, nước & xăng dầu khí đốt",Sản xuất & Phân phối Điện,CT,7000,7500,7530,7535
1588,YBC,Công ty Cổ phần Xi măng và Khoáng sản Yên Bái,Xây dựng và Vật liệu,Xây dựng và Vật liệu,Vật liệu xây dựng & Nội thất,CT,2000,2300,2350,2353
1589,YBM,Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái,Khai khoáng,Tài nguyên Cơ bản,Khai khoáng,CT,1000,1700,1770,1775
1590,YEG,Công ty Cổ phần Tập đoàn Yeah1,Truyền thông,Truyền thông,Giải trí & Truyền thông,CT,5000,5500,5550,5553
1591,YTC,Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...,Thiết bị và Dịch vụ Y tế,Y tế,Dụng cụ y tế,CT,4000,4500,4530,4537

### Danh sách cổ phiếu theo nhóm

In [6]:
# Liệt kê tất cả mã chứng khoán theo nhóm phân loại. Ví dụ HOSE, VN30, VNMidCap, VNSmallCap, VNAllShare, VN100, ETF, HNX, HNX30, HNXCon, HNXFin, HNXLCap, HNXMSCap, HNXMan, UPCOM, FU_INDEX (mã chỉ số hợp đồng tương lai), CW (chứng quyền)
listing.symbols_by_group('VN30')

0     ACB
1     BCM
2     BID
3     BVH
4     CTG
5     FPT
6     GAS
7     GVR
8     HDB
9     HPG
10    LPB
11    MBB
12    MSN
13    MWG
14    PLX
15    SAB
16    SHB
17    SSB
18    SSI
19    STB
20    TCB
21    TPB
22    VCB
23    VHM
24    VIB
25    VIC
26    VJC
27    VNM
28    VPB
29    VRE
Name: symbol, dtype: object

### Danh sách mã ngành theo mã icb

In [7]:
listing.industries_icb()

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3
...,...,...,...,...
150,Viễn thông,Telecommunications,6000,1
151,Tiện ích Cộng đồng,Utilities,7000,1
152,Tài chính,Financials,8000,1
153,Ngân hàng,Banks,8301,1
154,Công nghệ Thông tin,Technology,9000,1

## Quote: Giá chứng khoán

In [10]:
from vnstock import Quote
quote = Quote(source='vci', symbol='ACB')

#### Giá lịch sử

##### Cổ phiếu

In [11]:
df = quote.history(start='2024-01-01', end='2025-03-19', interval='1D')
df

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

In [12]:
# Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
print(f'Mã chứng khoán: {df.name}')
print(f'Loại tài sản: {df.category}')

Mã chứng khoán: ACB
Loại tài sản: stock

##### Hợp đồng tương lai

In [13]:
quote.history(symbol='VN30F1M', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

In [14]:
quote.history(symbol='VN30F2411', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

##### Chỉ số

In [15]:
quote.history(symbol='VNINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

In [16]:
quote.history(symbol='HNXINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

In [17]:
quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

##### Chứng quyền

In [18]:
quote.history(symbol='CFPT2314', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

##### Trái phiếu niêm yết

In [19]:
quote.history(symbol='CII424002', start='2024-01-02', end='2025-03-19', interval='1D')

          time   open   high    low  close    volume
0   2024-01-02  20.12  20.79  20.12  20.54  13896933
1   2024-01-03  20.58  21.00  20.37  21.00   9817807
2   2024-01-04  21.17  21.55  21.08  21.25  23605373
3   2024-01-05  21.25  21.38  21.04  21.38   9282598
4   2024-01-08  21.59  21.63  21.17  21.29  12398885
..         ...    ...    ...    ...    ...       ...
295 2025-03-13  26.35  26.45  26.10  26.10   8885500
296 2025-03-14  26.20  26.20  25.90  26.00  11548600
297 2025-03-17  26.10  26.25  26.00  26.20   5664400
298 2025-03-18  26.30  26.55  26.25  26.30   6008500
299 2025-03-19  26.30  26.30  26.05  26.20   7913600

[300 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [20]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
quote.intraday(symbol='ACB', page_size=10_000, show_log=False)

                          time    price  volume match_type         id
0    2025-04-21 09:15:02+07:00  24350.0  126900        ATO  290094501
1    2025-04-21 09:15:03+07:00  24450.0     200        Buy  290094785
2    2025-04-21 09:15:17+07:00  24400.0     100        Buy  290095319
3    2025-04-21 09:15:28+07:00  24350.0    5000       Sell  290095713
4    2025-04-21 09:15:28+07:00  24350.0     500       Sell  290095712
...                        ...      ...     ...        ...        ...
3598 2025-04-21 14:29:44+07:00  24150.0     200       Sell  290500245
3599 2025-04-21 14:29:44+07:00  24150.0    7600       Sell  290500246
3600 2025-04-21 14:29:45+07:00  24200.0    1400        Buy  290500325
3601 2025-04-21 14:29:45+07:00  24200.0     100        Buy  290500324
3602 2025-04-21 14:45:02+07:00  24100.0  462500        ATC  290501644

[3603 rows x 5 columns]

In [21]:
# Bước giá và khối lượng giao dịch: realtime
quote.price_depth('ACB')

   price acc_volume acc_buy_volume acc_sell_volume acc_undefined_volume
0  24500      53800          53800               0                    0
1  24450     391600         130000          261600                    0
2  24400     398000          23600          374400                    0
3  24350     422500          45400          250200               126900
4  24300     591500         314300          277200                    0
5  24250    2112900        1435700          677200                    0
6  24200    1964800         476500         1488300                    0
7  24150     836900           5400          831500                    0
8  24100     474000              0           11500               462500

## Trading: Giao dịch

In [24]:
from vnstock import Trading
trading = Trading(symbol='ACB', source='vci')

### Bảng giá

In [25]:
trading.price_board(['ACB'])

  listing                                                                 \
   symbol ceiling  floor ref_price stock_type exchange last_trading_date
0     ACB   26200  22800     24500      STOCK      HSX

                                ...     bid_ask                           \
  listed_share   type       id  ... bid_2_price bid_2_volume bid_3_price
0   4466657912  STOCK  8424512  ...       24050       196100       24000

                                                                              \
  bid_3_volume ask_1_price ask_1_volume ask_2_price ask_2_volume ask_3_price
0       875200       24150          200       24200        48900       24250


  ask_3_volume
0       245500

[1 rows x 41 columns]

In [26]:
trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                                                                                  0  \
listing symbol                                                                  VCB
        ceiling                                                               62100
        floor                                                                 54100
        ref_price                                                             58100
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     8355691435
        type                                                                  STOCK
        id                                                                  8424561
        organ_name                Ngân hàng Thương mại Cổ phần Ngoại thương Việt...
        prior_close_price                                                     58100
        benefit
        trading_date                                                     2025-04-21
match   match_price                                                           58200
        match_vol                                                             44600
        accumulated_volume                                                  1290500
        accumulated_value                                                     75319
        avg_match_price                                                58364.199923
        highest                                                               58900
        lowest                                                                58100
        match_type                                                          unknown
        foreign_sell_volume                                                  330700
        foreign_buy_volume                                                   188226
        current_room                                                      627114505
        total_room                                                       2506702528
        total_accumulated_value                                            75319.54
        total_accumulated_volume                                              12905
        reference_price                                                       58100
bid_ask bid_1_price                                                           58200
        bid_1_volume                                                          47600
        bid_2_price                                                           58100
        bid_2_volume                                                         145900
        bid_3_price                                                           58000
        bid_3_volume                                                         116000
        ask_1_price                                                           58300
        ask_1_volume                                                           7900
        ask_2_price                                                           58400
        ask_2_volume                                                          18800
        ask_3_price                                                           58500
        ask_3_volume                                                          16900

                                                                    1  \
listing symbol                                                    ACB
        ceiling                                                 26200
        floor                                                   22800
        ref_price                                               24500
        stock_type                                              STOCK
        exchange                                                  HSX
        last_trading_date
        listed_share                                       4466657912
        type                                                    STOCK
        id                                                    8424512
        organ_name                Ngân hàng Thương mại Cổ phần Á Châu
        prior_close_price                                       24500
        benefit
        trading_date                                       2025-04-21
match   match_price                                             24100
        match_vol                                              462500
        accumulated_volume                                    7246000
        accumulated_value                                      175685
        avg_match_price                                  24245.790781
        highest                                                 24500
        lowest                                                  24100
        match_type                                            unknown
        foreign_sell_volume                                    209300
        foreign_buy_volume                                      83600
        current_room                                                0
        total_room                                         1339997373
        total_accumulated_value                            175685.765
        total_accumulated_volume                                72460
        reference_price                                         24500
bid_ask bid_1_price                                             24100
        bid_1_volume                                           624600
        bid_2_price                                             24050
        bid_2_volume                                           196100
        bid_3_price                                             24000
        bid_3_volume                                           875200
        ask_1_price                                             24150
        ask_1_volume                                              200
        ask_2_price                                             24200
        ask_2_volume                                            48900
        ask_3_price                                             24250
        ask_3_volume                                           245500

                                                                                2  \
listing symbol                                                                TCB
        ceiling                                                             27800
        floor                                                               24200
        ref_price                                                           26000
        stock_type                                                          STOCK
        exchange                                                              HSX
        last_trading_date
        listed_share                                                   7064851739
        type                                                                STOCK
        id                                                                8424683
        organ_name                Ngân hàng Thương mại Cổ phần Kỹ thương Việt Nam
        prior_close_price                                                   26000
        benefit
        trading_date                                                   2025-04-21
match   match_price                                                         25750
        match_vol                                                          472600
        accumulated_volume                                               12192200
        accumulated_value                                                  315465
        avg_match_price                                              25874.329489
        highest                                                             26300
        lowest                                                              25600
        match_type                                                        unknown
        foreign_sell_volume                                                 17700
        foreign_buy_volume                                                 145300
        current_room                                                            0
        total_room                                                     1590552461
        total_accumulated_value                                        315465.715
        total_accumulated_volume                                           121922
        reference_price                                                     26000
bid_ask bid_1_price                                                         25750
        bid_1_volume                                                         8400
        bid_2_price                                                         25700
        bid_2_volume                                                       160200
        bid_3_price                                                         25650
        bid_3_volume                                                       275000
        ask_1_price                                                         25800
        ask_1_volume                                                        14600
        ask_2_price                                                         25850
        ask_2_volume                                                        76900
        ask_3_price                                                         25900
        ask_3_volume                                                        11600

                                                                                  3
listing symbol                                                                  BID
        ceiling                                                               38450
        floor                                                                 33450
        ref_price                                                             35950
        stock_type                                                            STOCK
        exchange                                                                HSX
        last_trading_date
        listed_share                                                     6897515268
        type                                                                  STOCK
        id                                                                  8424583
        organ_name                Ngân hàng Thương mại Cổ phần Đầu tư và Phát tr...
        prior_close_price                                                     35950
        benefit
        trading_date                                                     2025-04-21
match   match_price                                                           35250
        match_vol                                                             62700
        accumulated_volume                                                  2105600
        accumulated_value                                                     74447
        avg_match_price                                                35356.667933
        highest                                                               36000
        lowest                                                                35100
        match_type                                                          unknown
        foreign_sell_volume                                                  166600
        foreign_buy_volume                                                   138400
        current_room                                                      871833200
        total_room                                                       2106408575
        total_accumulated_value                                            74447.37
        total_accumulated_volume                                              21056
        reference_price                                                       35950
bid_ask bid_1_price                                                           35250
        bid_1_volume                                                          11200
        bid_2_price                                                           35200
        bid_2_volume                                                           6700
        bid_3_price                                                           35150
        bid_3_volume                                                          47200
        ask_1_price                                                           35300
        ask_1_volume                                                           3000
        ask_2_price                                                           35350
        ask_2_volume                                                           1000
        ask_3_price                                                           35400
        ask_3_volume                                                           1000

## Company: Thông tin công ty

### New - VCI

In [29]:
from vnstock import Company
company = Company(symbol='ACB', source='vci')

Loại bỏ đoạn mã `.head()` để xem toàn bộ dữ liệu thay vì chỉ lấy 5 dòng đầu tiên.

#### Hồ sơ

In [30]:
company.overview()

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,ACB,67505,4466657912,- Ngày 24/04/1993: Ngân hàng Thương mại Cổ ph...,Ngân hàng Thương mại Cổ phần Á Châu (ACB) được...,Ngân hàng,Ngân hàng,Ngân hàng,4466657900,44666579120000

#### Cổ đông

In [31]:
company.shareholders()

,id,share_holder,quantity,share_own_percent,update_date
0,78530729,Vietnam Enterprise Investments Limited,212880184,5.480880e-02,2024-09-13
1,78525594,Sather Gate Investments Limited,193907186,4.990000e-02,2024-05-15
2,78507068,Estes Investments Limited,83010435,4.990000e-02,2024-05-15
3,78523363,Phạm Thị Thu Hà,285000,4.990000e-02,2016-05-20
4,78527575,Trần Hùng Huy,153062159,3.940000e-02,2025-01-24
...,...,...,...,...,...
82,78519760,Nguyễn Thị Tuyết Vân,88722,1.730000e-05,2025-01-24
83,78525117,Quỹ Đầu tư Cổ phiếu Năng động Bảo Việt,22065,1.327000e-05,2025-02-03
84,78505343,Đinh Thị Hoa,67200,1.200000e-05,2025-01-24
85,78501300,Công ty Cổ phần Chứng khoán Thiên Việt,5285,1.500000e-06,2022-07-25
86,78515024,Nguyễn Hồng Nga,2008,7.000000e-07,2022-08-31

#### Công ty con

In [32]:
company.subsidiaries()

,id,sub_organ_code,ownership_percent,organ_name,type
0,22236054,ACBA,1,Công Ty TNHH Quản Lý Nợ Và Khai Thác Tài Sản N...,công ty con
1,22236055,ACBL,1,Công Ty TNHH Một Thành Viên Cho Thuê Tài Chính...,công ty con
2,22236056,ACBS,1,Công ty TNHH Chứng khoán ACB,công ty con
0,22236058,ACBD,None,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,công ty liên kết
1,22236057,SGGS,None,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,công ty liên kết

#### Công ty liên kết

In [33]:
# Phương thức này không có trong nguồn TCBS
company.affiliate()

,id,sub_organ_code,organ_name,ownership_percent
0,22236058,ACBD,CÔNG TY CỔ PHẦN DỊCH VỤ BẢO VỆ NGÂN HÀNG Á CHÂU,None
1,22236057,SGGS,Công ty Cổ phần Sài Gòn Kim hoàn ACB- SJC,None

#### Lãnh đạo

In [34]:
company.officers(filter_by='working').head() # filter_by='all' hoặc 'working' hoặc 'resigned'

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity
0,6,Trần Hùng Huy,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-01-24,0.0394,153062159
1,7,Đặng Thu Thủy,Thành viên Hội đồng Quản trị,TV HĐQT,2025-01-24,0.0137,53350036
2,11,Đặng Phú Vinh,Giám đốc khối,GĐ Khối,2025-01-24,0.0042,16454507
3,13,Đỗ Minh Toàn,Tổng Giám đốc,TGĐ,2025-01-24,0.0008,3202886
4,8,Nguyễn Thành Long,Phó Chủ tịch Hội đồng Quản trị,Phó Chủ tịch HĐQT,2025-01-24,0.0004,1647067

#### Tin tức

In [35]:
company.news().head(3)

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,7278188,ACB: Thông báo nhận được quyết định về việc nộ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1745249700000,None,vi,11548334,,<p>Ngân hàng Thương mại Cổ phần Á Châu thông b...,24100,24500,22800,26200,-0.016327
1,7217148,ACB: Nghị quyết HĐQT số 1971 ngày 14/04/2025,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1744734240000,None,vi,11542085,ACB: Nghị quyết HĐQT số 1971 ngày 14/04/2025,<p> Ngân hàng Thương mại Cổ phần Á Châu thông ...,24100,24800,23100,26500,-0.028226
2,7180533,ACB: Báo cáo kết quả giao dịch cổ phiếu của t...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1744302900000,None,vi,11527549,ACB: Báo cáo kết quả giao dịch cổ phiếu của t...,<p>Công ty Cổ phần Vì ngày mai cho em báo cáo ...,23300,21800,20300,23300,0.068807

#### Sự kiện

In [36]:
company.events().head(3)

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,18135,Trả cổ tức bằng tiền mặt,,2013-05-10,2013-06-04,,DIV,NaN,NaN,2013-05-21,2013-05-17,Trả cổ tức bằng tiền mặt,Cash Dividend
1,40234158,"ACB - Niêm yết bổ sung 582,607,554 cổ phiếu","ACB- Lists additional 582,607,554 shares",2024-06-28,2024-06-27,http://fiinpro.com/News/Detail/11231512?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
2,18134,Niêm yết thêm,,2013-04-04,2013-04-12,,AIS,NaN,NaN,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing

#### Báo cáo phân tích

In [37]:
company.reports()

,date,description,link,name
0,2025-04-08T00:00:00Z,Chúng tôi đã tham dự ĐHCĐ của Ngân hàng TMCP Á...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tăng trưởng tín dụng được kỳ vọng sẽ nằm...
1,2025-01-22T00:00:00Z,Ngân hàng Thương Mại Cổ Phần Á Châu (ACB) đã c...,https://www.vietcap.com.vn/trung-tam-phan-tich...,ACB - Tập trung vào tăng trưởng tín dụng hơn t...
2,2024-10-24T00:00:00Z,Ngân hàng TMCP Á Châu (ACB) công bố KQKD 9 thá...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – NOII thấp hơn dự kiến, ảnh hưởng tiêu cự..."
3,2024-09-09T00:00:00Z,- Chúng tôi tiếp tục duy trì giá mục tiêu đối ...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +35,0%] - Tăng dự báo tăng trưởng tín..."
4,2024-07-23T00:00:00Z,ACB đã công bố KQKD nửa đầu năm 2024 với thu n...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - Tín dụng tăng trưởng mạnh, chất lượng tà..."
5,2024-06-04T00:00:00Z,"- Chúng tôi điều chỉnh tăng 8,6% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +33,7%] - NIM tương đối đi ngang tron..."
6,2024-04-26T00:00:00Z,"ACB đã công bố KQKD quý 1/2024 với TOI đạt 8,2...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – NOII thấp, chất lượng tài sản được duy t..."
7,2024-04-04T00:00:00Z,Chúng tôi đã tham dự ĐHCĐ của Ngân hàng TMCP Á...,https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB - Tín dụng tăng trưởng mạnh, duy trì tỷ lệ..."
8,2024-03-05T00:00:00Z,"- Chúng tôi điều chỉnh tăng 7,6% giá mục tiêu ...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB [MUA +26,3%] - Tăng trưởng ổn định nhờ cho..."
9,2024-01-26T00:00:00Z,"ACB công bố KQKD năm 2023 với TOI đạt 32,7 ngh...",https://www.vietcap.com.vn/trung-tam-phan-tich...,"ACB – Tăng trưởng tín dụng vượt kỳ vọng, lợi n..."

#### Tình hình tài chính

In [38]:
company.ratio_summary()

,symbol,year_report,length_report,update_date,revenue,revenue_growth,net_profit,net_profit_growth,ebit_margin,roe,...,rtq4,charter_capital_ratio,rtq10,dividend,ebitda,ebit,le,de,ccc,rtq17
0,ACB,2024,5,1741199572843,50902749000000,-0.027586,16789768000000,0.046435,0,0.217459,...,0,1.868549,0,0,0,0,0,0,None,0

#### Thống kê giao dịch

In [39]:
company.trading_stats()

,symbol,exchange,ev,ceiling,floor,ref_price,open,match_price,close_price,price_change,...,high_price_1y,low_price_1y,pct_low_change_1y,pct_high_change_1y,foreign_volume,foreign_room,avg_match_volume_2w,foreign_holding_room,current_holding_ratio,max_holding_ratio
0,ACB,HOSE,107646455390000,26200,22800,24500,24350,24100,24100,-400,...,26800,20750,0.105505,-0.095685,192900,1339997373,19112255,1338886973,0.299751,0.3

### TCBS

In [3]:
from vnstock import Company
company = Company(symbol='ACB', source='tcbs')

#### Tổng quan

In [4]:
company.overview()

,symbol,exchange,industry,company_type,no_shareholders,foreign_percent,outstanding_share,issue_share,established_year,no_employees,stock_rating,delta_in_week,delta_in_month,delta_in_year,short_name,website,industry_id,industry_id_v2
0,ACB,HOSE,Ngân hàng,NH,76457,0.3,4466.7,4466.7,2006,13290,3.1,-0.001,0.006,0.051,ACB,https://www.acb.com.vn,289,8355

#### Hồ sơ

In [5]:
company.profile()

,symbol,company_name,company_profile,history_dev,company_promise,business_risk,key_developments,business_strategies
0,ACB,Ngân hàng Thương mại Cổ phần Á Châu,Ngân hàng Thương mại Cổ phần Á Châu (ACB) đượ...,Ngày 24/04/1993: Ngân hàng Thương mại Cổ phầ...,Chuyển đổi số trong lĩnh vực tài chính - ngân...,Bất ổn vĩ mô: Kinh tế Việt Nam được đánh giá...,Huy động vốn (nhận tiền gửi của khách hàng) ...,Áp dụng công nghệ tiên tiến hiện đại trong c...

#### Cổ đông

In [6]:
company.shareholders()

               share_holder  share_own_percent
0             Trần Hùng Huy             0.0394
1             Đặng Thu Thủy             0.0137
2  Nguyễn Thiên Hương Jenny             0.0134
3               Đặng Thu Hà             0.0119
4    Nguyễn Đức Hiếu Johnny             0.0107
5             Đặng Phú Vinh             0.0042
6           Phạm Trung Cang             0.0017
7                  Lê Vũ Kỳ             0.0015
8         Nguyễn Thị Tố Lưu             0.0013
9                      Khác             0.2591

#### Giao dịch nội bộ

In [7]:
company.insider_deals().head(3)

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2025-04-10,Cổ đông lớn,Mua,47100.0,23300.0,0.034
1,2025-03-26,Cổ đông lớn,Bán,-29756.0,26150.0,-0.078
2,2024-07-02,Cổ đông sáng lập,Mua,6000000.0,24050.0,0.002

#### Công ty con, liên kết

In [8]:
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0                       Công ty TNHH Chứng khoán ACB              1.0
1  Công Ty TNHH Một Thành Viên Cho Thuê Tài Chính...              1.0
2                   Công ty TNHH MTV Quản Lý Quỹ ACB              1.0
3  Công Ty TNHH Quản Lý Nợ Và Khai Thác Tài Sản N...              1.0
4  Ngân Hàng Thương Mại Cổ Phần Á Châu - Chi Nhán...              1.0

#### Ban lãnh đạo

In [9]:
company.officers().head()

               officer_name              officer_position  officer_own_percent
0             Trần Hùng Huy                          None               0.0394
2             Đặng Thu Thủy  Thành viên Hội đồng Quản trị               0.0137
1  Nguyễn Thiên Hương Jenny                          None               0.0134
4               Đặng Thu Hà                          None               0.0119
3    Nguyễn Đức Hiếu Johnny                          None               0.0107

#### Sự kiện

In [10]:
company.events().head()

The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,11.4,48.0,2588520,23300,1500,0.069,-0.119,ACB - Kết quả giao dịch nội bộ/CĐL,DDINS,2025-04-10,2025-04-03,1753-01-01,1753-01-01,- Cá nhân/Tổ chức thực hiện giao dịch: Công ty...
1,47.4,49.0,2586445,25950,-50,-0.002,-0.002,ACB - Thông báo đăng ký giao dịch nội bộ/CĐL,DDINS,2025-03-28,2025-04-30,1753-01-01,1753-01-01,- Cá nhân/Tổ chức thực hiện giao dịch: Công ty...
2,56.3,60.0,2586032,26150,-150,-0.006,0.008,ACB - Kết quả giao dịch nội bộ/CĐL,DDINS,2025-03-26,2025-03-25,1753-01-01,1753-01-01,- Cá nhân/Tổ chức thực hiện giao dịch: Công Ty...
3,55.7,54.0,2585049,26300,100,0.004,0.021,ACB - Thông báo đăng ký giao dịch nội bộ/CĐL,DDINS,2025-03-18,2025-04-19,1753-01-01,1753-01-01,- Cá nhân/Tổ chức thực hiện giao dịch: Công Ty...
4,63.8,52.0,2583898,26150,0,0.000,0.030,ACB - BCTC Riêng lẻ kiểm toán Quý 4/2024,KQQY,2025-03-05,2025-03-05,1753-01-01,1753-01-01,ACB - BCTC Riêng lẻ kiểm toán Quý 4/2024

#### Tin tức

In [11]:
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,46.5,60.0,24100,-400,-0.016,-0.077,11548334,ACB: Thông báo nhận được quyết định về việc nộ...,TCBS,2025-04-21 15:35:00
1,47.8,62.0,24100,-700,-0.028,-0.080,11542085,ACB: Nghị quyết HĐQT số 1971 ngày 14/04/2025,TCBS,2025-04-15 16:24:00
2,11.4,48.0,23300,1500,0.069,-0.119,11527549,ACB: Báo cáo kết quả giao dịch cổ phiếu của t...,TCBS,2025-04-10 16:35:00
3,12.3,47.0,21800,-350,-0.016,-0.176,11525657,ACB: Nghị quyết và Biên bản họp ĐHĐCĐ thường ...,TCBS,2025-04-09 18:14:00
4,12.3,47.0,21800,-350,-0.016,-0.176,11525603,ACB: Nghị quyết HĐQT về việc ký kết hợp đồng ...,TCBS,2025-04-09 17:30:00

#### Cổ tức

In [12]:
company.dividends().head()

  exercise_date  cash_year  cash_dividend_percentage issue_method
0    2024-05-31       2023                      0.10         cash
1    2024-05-31       2024                      0.15        share
2    2023-06-01       2022                      0.10         cash
3    2023-06-01       2023                      0.15        share
4    2022-06-02       2022                      0.25        share

## Finance: Báo cáo tài chính

In [17]:
from vnstock import Finance
finance = Finance(symbol='ACB', source='vci')

### Bảng cân đối kế toán

In [18]:
finance.balance_sheet(period='year', lang='vi', dropna=True)

,CP,Năm,TỔNG CỘNG TÀI SẢN (đồng),Tiền và tương đương tiền (đồng),Tiền gửi tại ngân hàng nhà nước Việt Nam,Tiền gửi tại các TCTD khác và cho vay các TCTD khác,Chứng khoán kinh doanh,_Chứng khoán kinh doanh,Dự phòng giảm giá chứng khoán kinh doanh,Các công cụ tài chính phái sinh và khoản nợ tài chính khác,...,Tiền gửi của khách hàng,_Các công cụ tài chính phái sinh và khoản nợ tài chính khác,"Vốn tài trợ, uỷ thác đầu tư của CP và các tổ chức TD khác",Phát hành giấy tờ có giá,Các khoản nợ khác,VỐN CHỦ SỞ HỮU (đồng),Vốn của tổ chức tín dụng,Quỹ của tổ chức tín dụng,Lãi chưa phân phối (đồng),Vốn góp của chủ sở hữu (đồng)
0,ACB,2024,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,55992000000,...,537304578000000,0,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,23733752000000,44666579000000
1,ACB,2023,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,0,...,482702731000000,117126000000,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,20286243000000,38840504000000
2,ACB,2022,607875185000000,8460892000000,13657531000000,85971313000000,1131327000000,1320941000000,-189614000000,100072000000,...,413952789000000,0,60188000000,44304367000000,22772462000000,58438663000000,34046130000000,9220125000000,15172408000000,33774351000000
3,ACB,2021,527769944000000,7509877000000,32349574000000,49818776000000,11259731000000,11325371000000,-65640000000,226545000000,...,379920669000000,0,86066000000,30547883000000,17920478000000,44900909000000,27291260000000,7164297000000,10445352000000,27019481000000
4,ACB,2020,444530104000000,6967918000000,16616798000000,31671245000000,6167917000000,6285763000000,-117846000000,54473000000,...,353195838000000,0,116705000000,22049697000000,9844459000000,35448163000000,21887364000000,5741759000000,7819040000000,21615585000000
5,ACB,2019,383514439000000,6437812000000,10420306000000,30341599000000,2985262000000,3145903000000,-160641000000,87753000000,...,308129391000000,0,156147000000,20830836000000,7384134000000,27765359000000,16799171000000,4595902000000,6370286000000,16627373000000
6,ACB,2018,329333241000000,6129169000000,10683536000000,18769776000000,1177972000000,1339157000000,-161185000000,0,...,269998503000000,38198000000,160093000000,8290918000000,6035148000000,21017899000000,12220152000000,3693069000000,5104678000000,12885877000000
7,ACB,2017,284316123000000,4851710000000,8314574000000,8941727000000,1236555000000,1239991000000,-3436000000,0,...,241392932000000,10491000000,136466000000,6761000000000,4530641000000,16030847000000,9607514000000,2913780000000,3509553000000,10273239000000
8,ACB,2016,233680877000000,3541388000000,5119306000000,8152027000000,1183306000000,1211314000000,-28008000000,16065000000,...,207051269000000,0,122697000000,6615000000000,3594080000000,14062716000000,8711240000000,2590181000000,2761295000000,9376965000000
9,ACB,2015,201456985000000,2806088000000,4608680000000,10122200000000,100457000000,103034000000,-2577000000,47603000000,...,174918997000000,0,161678000000,3075000000000,2901457000000,12787542000000,8711240000000,2374178000000,1702124000000,9376965000000
10,ACB,2014,179609771000000,2496287000000,3357730000000,4559007000000,1105122000000,1108232000000,-3110000000,14403000000,...,154613588000000,0,188155000000,3078000000000,3187487000000,12397303000000,8711841000000,2207666000000,1477796000000,9376965000000
11,ACB,2013,166598989000000,2043490000000,3065322000000,7215519000000,851161000000,1078309000000,-227148000000,150000000,...,138110836000000,0,363345000000,3500000000000,2743684000000,12504202000000,9117544000000,2034952000000,1351706000000,9376965000000
12,ACB,2011,281019319000000,8709990000000,5075817000000,81274021000000,850459000000,1048787000000,-198328000000,1016447000000,...,142218091000000,0,332318000000,50708499000000,34556973000000,11959092000000,9376965000000,1753237000000,828890000000,9376965000000
13,ACB,2010,205102950000000,10884762000000,2914353000000,33961250000000,978355000000,1167950000000,-189595000000,78172000000,...,106936611000000,0,379768000000,38234151000000,10594023000000,11376757000000,9376965000000,1209552000000,790240000000,9376965000000

In [20]:
finance.balance_sheet(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,TOTAL ASSETS (Bn. VND),Cash and cash equivalents (Bn. VND),Balances with the SBV,Placements with and loans to other credit institutions,"Trading Securities, net",Trading Securities,Provision for diminution in value of Trading Securities,...,"Funds received from Gov, international and other institutions",Convertible bonds/CDs and other valuable papers issued,Other liabilities,OWNER'S EQUITY(Bn.VND),Capital,Reserves,Foreign Currency Difference reserve,Undistributed earnings (Bn. VND),Paid-in capital (Bn. VND),MINORITY INTERESTS
0,ACB,2024,4,864005703000000,5696449000000,25219753000000,117882259000000,3881151000000,4029088000000,-147937000000,...,28008000000,101650446000000,22014472000000,83461678000000,44938358000000,14789568000000,0,23733752000000,44666579000000,0
1,ACB,2024,3,777392922000000,5870526000000,8392393000000,92090423000000,6965867000000,7059448000000,-93581000000,...,31641000000,90366104000000,22478444000000,78854261000000,44938358000000,11557435000000,-62053000000,22420521000000,44666579000000,0
2,ACB,2024,2,769678700000000,6594138000000,15724945000000,105419092000000,6125105000000,6236053000000,-110948000000,...,33175000000,66953215000000,22365462000000,74792678000000,44938358000000,11557435000000,-253241000000,18550126000000,44666579000000,0
3,ACB,2024,1,727297968000000,6470319000000,7851936000000,121950918000000,7377873000000,7469189000000,-91316000000,...,37321000000,49011681000000,20710083000000,74790732000000,39112283000000,11557435000000,-70648000000,24191662000000,38840504000000,0
4,ACB,2023,4,718794589000000,6909300000000,18504814000000,114873931000000,7177069000000,7323489000000,-146420000000,...,41534000000,52410014000000,23060473000000,70955961000000,39112283000000,11557435000000,0,20286243000000,38840504000000,0

### Báo cáo lãi lỗ

In [21]:
finance.income_statement(period='year', lang='vi', dropna=True).head()

,CP,Năm,Doanh thu (đồng),Tăng trưởng doanh thu (%),Lợi nhuận sau thuế của Cổ đông công ty mẹ (đồng),Tăng trưởng lợi nhuận (%),Thu nhập lãi và các khoản tương tự,Chi phí lãi và các khoản tương tự,Thu nhập lãi thuần,Thu nhập từ hoạt động dịch vụ,...,Chi phí quản lý DN,LN từ HĐKD trước CF dự phòng,Chi phí dự phòng rủi ro tín dụng,LN trước thuế,Thuế TNDN,Chi phí thuế TNDN hiện hành,Chi phí thuế TNDN hoãn lại,Lợi nhuận thuần,Cổ đông của Công ty mẹ,Lãi cơ bản trên cổ phiếu
0,ACB,2024,50902749000000,-0.027586,16789768000000,0.046435,50902749000000,-23108047000000,27794702000000,5464958000000,...,-10902603000000,22612156000000,-1606285000000,21005871000000,-4216103000000,-4199699000000,-16404000000,16789768000000,16789768000000,3669
1,ACB,2023,52346796000000,0.286199,16044733000000,0.172159,52346796000000,-27387226000000,24959570000000,4945751000000,...,-10874286000000,21872230000000,-1804231000000,20067999000000,-4023266000000,-3993022000000,-30244000000,16044733000000,16044733000000,3559
2,ACB,2022,40698834000000,0.207186,13688193000000,0.425446,40698834000000,-17165305000000,23533529000000,5057559000000,...,-11605045000000,17185022000000,-70814000000,17114208000000,-3426015000000,-3445611000000,19596000000,13688193000000,13688193000000,3486
3,ACB,2021,33713810000000,0.058327,9602746000000,0.249898,33713810000000,-14769018000000,18944792000000,4026460000000,...,-8229776000000,15334221000000,-3336109000000,11998112000000,-2395366000000,-2389079000000,-6287000000,9602746000000,9602746000000,2799
4,ACB,2020,31855748000000,0.124948,7682823000000,0.278353,31855748000000,-17273625000000,14582123000000,2803484000000,...,-7624268000000,10537041000000,-941153000000,9595888000000,-1913065000000,-1940681000000,27616000000,7682823000000,7682823000000,2808

In [22]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
1,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
2,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779
3,ACB,2024,1,11987594000000,-0.093516,3905419000000,-0.055528,11987594000000,-5266076000000,6721518000000,...,-2763921000000,5404530000000,-512217000000,4892313000000,-986894000000,-1066922000000,80028000000,3905419000000,3905419000000,1006
4,ACB,2023,4,12515015000000,0.051202,4006279000000,0.395664,12515015000000,-6225399000000,6289616000000,...,-3013248000000,5365215000000,-321641000000,5043574000000,-1037295000000,-975257000000,-62038000000,4006279000000,4006279000000,1031

### Báo cáo lưu chuyển tiền tệ

In [23]:
finance.cash_flow(period='year', dropna=True).head()

,ticker,yearReport,Profits from other activities,Operating profit before changes in working capital,Net Cash Flows from Operating Activities before BIT,Payment from reserves,Purchase of fixed assets,Gain on Dividend,Net Cash Flows from Investing Activities,Increase in charter captial,Cash flows from financial activities,Net increase/decrease in cash and cash equivalents,Cash and cash equivalents,Foreign exchange differences Adjustment,Cash and Cash Equivalents at the end of period,Net cash inflows/outflows from operating activities,Proceeds from disposal of fixed assets,Investment in other entities,Proceeds from divestment in other entities,Dividends paid
0,ACB,2024,-164089000000,16709886000000,8371480000000,-1249000000,-919740000000,35058000000,-733310000000,0,-3884051000000,3752870000000,136071738000000,0,139824608000000,8370231000000,147865000000,0,3507000000,-3884051000000
1,ACB,2023,-18340000000,19421985000000,37137701000000,-1500000000,-1276249000000,74955000000,-1197256000000,0,-3377435000000,32561510000000,103510228000000,0,136071738000000,37136201000000,4038000000,0,0,-3377435000000
2,ACB,2022,152049000000,16413910000000,21476002000000,-201463000000,-511513000000,59599000000,-365878000000,0,0,20908661000000,82601567000000,0,103510228000000,21274539000000,4741000000,-10520000000,6451000000,0
3,ACB,2021,-94964000000,12326573000000,39927382000000,-1483000000,-636100000000,21979000000,-462403000000,0,-2884000000000,36579496000000,46022071000000,0,82601567000000,39925899000000,3265000000,0,0,0
4,ACB,2020,67987000000,9688384000000,10880417000000,-1156000000,-423132000000,17573000000,-395503000000,0,-140600000000,10343158000000,35678913000000,0,46022071000000,10879261000000,3336000000,0,0,0

In [24]:
finance.income_statement(period='quarter', lang='en', dropna=True).head()

,ticker,yearReport,lengthReport,Revenue (Bn. VND),Revenue YoY (%),Attribute to parent company (Bn. VND),Attribute to parent company YoY (%),Interest and Similar Income,Interest and Similar Expenses,Net Interest Income,...,General & Admin Expenses,Operating Profit before Provision,Provision for credit losses,Profit before tax,Tax For the Year,Business income tax - current,Business income tax - deferred,Net Profit For the Year,Attributable to parent company,EPS_basis
0,ACB,2024,4,13518376000000,0.080173,4545364000000,0.134560,13518376000000,-6438085000000,7080291000000,...,-2739350000000,5818946000000,-147675000000,5671271000000,-1125907000000,-1086127000000,-39780000000,4545364000000,4545364000000,1017
1,ACB,2024,3,12922067000000,-0.007819,3870395000000,-0.041407,12922067000000,-6040680000000,6881387000000,...,-2933714000000,5202287000000,-358243000000,4844044000000,-973649000000,-971306000000,-2343000000,3870395000000,3870395000000,0
2,ACB,2024,2,12474712000000,-0.081634,4468590000000,0.155915,12474712000000,-5363206000000,7111506000000,...,-2465618000000,6186393000000,-588150000000,5598243000000,-1129653000000,-1075344000000,-54309000000,4468590000000,4468590000000,779
3,ACB,2024,1,11987594000000,-0.093516,3905419000000,-0.055528,11987594000000,-5266076000000,6721518000000,...,-2763921000000,5404530000000,-512217000000,4892313000000,-986894000000,-1066922000000,80028000000,3905419000000,3905419000000,1006
4,ACB,2023,4,12515015000000,0.051202,4006279000000,0.395664,12515015000000,-6225399000000,6289616000000,...,-3013248000000,5365215000000,-321641000000,5043574000000,-1037295000000,-975257000000,-62038000000,4006279000000,4006279000000,1031

### Chỉ số tài chính

In [25]:
finance.ratio(period='year', lang='vi', dropna=True).head()

  Meta          Chỉ tiêu cơ cấu nguồn vốn                      \
    CP   Năm Kỳ            TSCĐ / Vốn CSH Vốn CSH/Vốn điều lệ
0  ACB  2024  5                  0.064849            1.868549
1  ACB  2023  5                  0.067120            1.588569
2  ACB  2022  5                  0.068129            1.308331
3  ACB  2021  5                  0.083797            1.005246
4  ACB  2020  5                  0.106712            0.793617

  Chỉ tiêu khả năng sinh lợi                                         \
     Biên lợi nhuận ròng (%)   ROE (%)   ROA (%) Tỷ suất cổ tức (%)
0                   0.604064  0.217459  0.021215           0.000000
1                   0.642829  0.247997  0.024188           0.038760
2                   0.581646  0.264917  0.024106           0.041841
3                   0.506881  0.239026  0.019753           0.000000
4                   0.526866  0.243075  0.018557           0.000000

  Chỉ tiêu thanh khoản Chỉ tiêu định giá                                      \
     Đòn bẩy tài chính Vốn hóa (Tỷ đồng) Số CP lưu hành (Triệu CP)       P/E
0            10.352125   107646455390000                4466657900  6.449847
1            10.130151   100208500320000                3884050400  6.405255
2            10.401935    80720698890000                3377435100  5.962443
3            11.754104    59172663390000                2701948100  6.259839
4            12.540286    74573768250000                2161558500  9.899843


        P/B       P/S P/Cash Flow    EPS (VND)    BVPS (VND)
0  1.289771  3.211912   12.860631  3758.910661  18685.486972
1  1.412263  3.060127    2.698405  4130.928116  18268.547957
2  1.381289  2.803769    3.794240  4052.836722  17302.675335
3  1.317850  2.511147    1.482062  3554.008310  16617.976119
4  2.103741  4.106189    6.854672  3554.297975  16399.353985

In [26]:
finance.ratio(period='quarter', lang='en', dropna=True).head()

    Meta                         Chỉ tiêu cơ cấu nguồn vốn  \
  ticker yearReport lengthReport               Debt/Equity
0    ACB       2024            4                  9.352125
1    ACB       2024            3                  8.858604
2    ACB       2024            2                  9.290830
3    ACB       2024            1                  8.724440
4    ACB       2023            4                  9.130151

                                                        \
  Fixed Asset-To-Equity Owners' Equity/Charter Capital
0              0.064849                       1.868549
1              0.058881                       1.765397
2              0.062380                       1.674466
3              0.062450                       1.674423
4              0.067120                       1.588569

  Chỉ tiêu khả năng sinh lợi                                                  \
       Net Profit Margin (%)   ROE (%) ROIC (%)   ROA (%) Dividend yield (%)
0                   0.641974  0.217459      0.0  0.021215           0.041494
1                   0.562444  0.217115      0.0  0.021717           0.040568
2                   0.628361  0.228530      0.0  0.022928           0.038536
3                   0.581032  0.229671      0.0  0.023211           0.041667
4                   0.636967  0.247997      0.0  0.024188           0.035714

  Chỉ tiêu thanh khoản        Chỉ tiêu định giá  \
    Financial Leverage Market Capital (Bn. VND)
0            10.352125             1.076465e+14
1             9.858604             1.101031e+14
2            10.290830             1.159098e+14
3             9.724440             1.071998e+14
4            10.130151             1.087534e+14

                                                                             \
  Outstanding Share (Mil. Shares)       P/E       P/B       P/S P/Cash Flow
0                    4.466658e+09  6.411432  1.289771  3.211912   12.860632
1                    4.466658e+09  6.775292  1.396286  3.302936  -21.381995
2                    4.466658e+09  7.059978  1.549748  3.447304    7.010521
3                    4.466658e+09  6.778309  1.433330  3.248989    3.143473
4                    3.884050e+09  6.778138  1.532689  3.321068    2.928501


     EPS (VND)    BVPS (VND)
0  1017.620801  18685.486922
1   866.508042  17653.973632
2  1000.432558  16744.662223
3   874.349251  16744.226550
4  1031.469376  18268.548155

## New - Bộ lọc cổ phiếu

Hàm này chỉ tồn tại với nguồn dữ liệu TCBS

In [3]:
from vnstock import Screener

screener = Screener(source="tcbs")
screener_df = screener.stock(params={"exchangeName": "HOSE,HNX,UPCOM"}, limit=1700)
screener_df

,ticker,exchange,industry,market_cap,roe,stock_rating,business_operation,business_model,financial_health,alpha,...,last_quarter_revenue_growth,second_quarter_revenue_growth,last_quarter_profit_growth,second_quarter_profit_growth,pct_1y_from_peak,pct_away_from_hist_peak,pct_1y_from_bottom,pct_off_hist_bottom,price_vs_sma100,heating_up
0,A32,UPCOM,Hàng cá nhân & Gia dụng,NaN,NaN,NaN,1.7,3.5,2.6,0.1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1,AAA,HSX,Hóa chất,2638.0,6.9,2.4,1.5,3.0,4.0,-0.2,...,43.1,-9.5,-18.8,-78.0,-45.2,-69.7,7.8,197.5,Giá nằm dưới SMA(100),None
2,AAM,HSX,Thực phẩm và đồ uống,73.0,-1.5,NaN,1.0,NaN,4.2,0.0,...,57.3,-7.0,NaN,NaN,NaN,NaN,NaN,NaN,None,None
3,AAS,UPCOM,Dịch vụ tài chính,1673.0,2.6,2.2,3.8,2.8,2.6,0.0,...,-17.4,-36.8,-21.5,-71.6,-23.4,-64.2,33.3,127.4,Giá nằm dưới SMA(100),None
4,AAT,HSX,Hàng cá nhân & Gia dụng,205.0,-0.9,2.3,1.2,2.9,3.0,-0.1,...,-43.4,-18.4,-224.3,264.1,-43.7,-84.5,19.8,11.5,Giá nằm dưới SMA(100),None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1608,XVC,UPCOM,Xây dựng và Vật liệu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1609,YBC,UPCOM,Xây dựng và Vật liệu,153.0,-84.4,NaN,2.5,3.5,1.6,0.7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None
1610,YBM,HSX,Tài nguyên Cơ bản,222.0,7.3,NaN,2.1,3.7,2.2,0.2,...,44.2,7.1,-7.8,-45.9,-23.5,-18.4,70.9,544.8,Giá nằm trên SMA(100),None
1611,YEG,HSX,Truyền thông,2215.0,8.9,2.1,1.6,2.4,3.4,0.2,...,152.0,209.4,376.1,325.6,-49.0,-93.7,43.8,215.8,Giá nằm dưới SMA(100),None
1612,YTC,UPCOM,Y tế,NaN,NaN,NaN,1.4,3.5,2.4,0.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,None