<a target="_blank" href="https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/tcbs/1_vietnam_stock_vnstock3_tcbs.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# Mục lục

1. Chứng khoán Việt Nam [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/1_vietnam_stock_vnstock3.ipynb)
2. Chứng khoán quốc tế: Forex, Crypto, Chỉ số [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/2_international_market.ipynb)
3. Dữ liệu Thị trường, hàng hoá [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/3_commodities_vnstock3.ipynb)
4. Biểu diễn dữ liệu trực quan từ Vnstock3 [tại đây](https://colab.research.google.com/github/thinh-vu/vnstock/blob/main/docs/5_visualization_data_exploration_vnstock3.ipynb)

# I. Cài đặt

## Cài đặt thư viện

In [2]:
%cd "/workspaces/vnstock"

/workspaces/vnstock

In [ ]:
!pip install -U vnstock

## Nạp thư viện lần đầu

> Bạn có thể nạp toàn bộ các module của thư viện vào môi trường làm việc nếu chưa biết rõ mình cần gì hoặc chọn từng module riêng biệt để nạp vào khi đã quen thuộc.

In [ ]:
## Nạp toàn bộ thư viện
# from vnstock import *

## Nạp Wrapper làm việc chính (UI chính của thư viện)
from vnstock import Vnstock

# II. Truy xuất dữ liệu - CK Việt Nam

* Khởi tạo đối tượng stock để dùng cho tất cả thao tác truy xuất dữ liệu chứng khoán về sau. Luồng công việc minh hoạ dưới đây giả định bạn bắt đầu với 1 mã chứng khoán cần phân tích, mặc định là VN30F1M. Bạn có thể thay đổi sang mã bất kỳ bằng cách nhập tham số `symbol` tại hàm chức năng thay vì khởi tạo lại đối tượng. Ví dụ, mã `VN30F1M` được gán khi tạo đối tượng, nhưng khi gọi dữ liệu giá lịch sử, bạn có thể cập nhật mã mới là `ACB` thay vì khởi tạo lại đối tượng một cách bất tiện: `stock.quote.history(symbol='ACB', start='2020-01-01', end='2024-12-31')`

* Chọn nguồn dữ liệu thuộc danh sách được hỗ trợ: VCI, TCBS cho chứng khoán trong nước, MSN cho dữ liệu chứng khoán quốc tế và sàn HOSE.

In [4]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='ACB', source='TCBS')

2025-05-07 04:07:46 - vnstock.common.data.data_explorer - INFO - TCBS không cung cấp thông tin danh sách. Dữ liệu tự động trả về từ VCI.

## Listing: Liệt kê danh sách chứng khoán

Bạn có thể sử dụng tính năng liệt kê danh sách niêm yết các mã chứng khoán từ nguồn VCI do nguồn TCBS không có sẵn dữ liệu tương ứng. Chi tiết: [tại đây](https://vnstocks.com/docs/huong-dan/thong-tin-niem-yet)

## Quote: Giá chứng khoán

#### Giá lịch sử

##### Cổ phiếu

In [5]:
df = stock.quote.history(start='2024-01-01', end='2024-06-21', interval='1D')
df

          time   open   high    low  close    volume
0   2023-06-22  18.27  18.40  18.19  18.19   7976555
1   2023-06-23  18.23  18.40  18.14  18.40  11435894
2   2023-06-26  18.65  18.90  18.48  18.69  11788268
3   2023-06-27  18.94  18.94  18.65  18.65   5623455
4   2023-06-28  18.65  18.82  18.56  18.73   8233359
..         ...    ...    ...    ...    ...       ...
245 2024-06-17  24.60  24.60  24.25  24.55   6375848
246 2024-06-18  24.70  24.70  24.40  24.55   5729760
247 2024-06-19  24.55  24.70  24.25  24.65   7618993
248 2024-06-20  24.55  24.85  24.40  24.80  10178313
249 2024-06-21  24.85  24.85  24.50  24.55   5126289

[250 rows x 6 columns]

In [6]:
# Tất cả dataframe dữ liệu sẽ được gán thuộc tính tên và loại tài sản tương ứng
print(f'Mã chứng khoán: {df.name}')
print(f'Loại tài sản: {df.category}')

Mã chứng khoán: ACB
Loại tài sản: stock

##### Hợp đồng tương lai

In [7]:
stock.quote.history(symbol='VN30F1M', start='2024-01-02', end='2024-11-01', interval='1D')

          time    open    high     low   close  volume
0   2023-11-02  1057.5  1087.0  1054.9  1087.0  304457
1   2023-11-03  1092.1  1094.7  1084.7  1087.0  283751
2   2023-11-06  1095.9  1106.0  1095.5  1106.0  245465
3   2023-11-07  1102.2  1102.8  1094.1  1095.4  225214
4   2023-11-08  1094.7  1136.6  1086.5  1134.0  338840
..         ...     ...     ...     ...     ...     ...
245 2024-10-28  1330.0  1332.3  1327.2  1332.0  130396
246 2024-10-29  1334.0  1341.0  1334.0  1339.4  163921
247 2024-10-30  1341.6  1342.7  1331.5  1342.0  186935
248 2024-10-31  1339.0  1347.8  1333.7  1343.5  202412
249 2024-11-01  1340.4  1340.4  1326.6  1330.4  215622

[250 rows x 6 columns]

In [8]:
stock.quote.history(symbol='VN30F2505', start='2025-03-01', end='2025-03-27', interval='1D')

          time    open    high     low   close  volume
0   2024-03-27  1286.0  1289.4  1279.6  1288.0  194509
1   2024-03-28  1295.6  1306.9  1294.5  1306.9  196706
2   2024-03-29  1306.2  1307.3  1295.3  1298.1  188233
3   2024-04-01  1293.0  1299.4  1283.2  1290.4  223772
4   2024-04-02  1284.7  1291.9  1274.3  1290.0  270424
..         ...     ...     ...     ...     ...     ...
245 2025-03-21  1375.0  1376.4  1370.2  1373.9  140468
246 2025-03-24  1376.0  1390.0  1367.7  1390.0  205880
247 2025-03-25  1391.2  1392.3  1384.2  1386.7  163716
248 2025-03-26  1387.9  1393.2  1376.0  1376.9  209392
249 2025-03-27  1375.0  1380.1  1373.9  1374.8  170409

[250 rows x 6 columns]

##### Chỉ số

In [9]:
stock.quote.history(symbol='VNINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time     open     high      low    close     volume
0   2023-11-02  1048.62  1075.47  1045.14  1075.47  667009654
1   2023-11-03  1081.35  1082.23  1071.11  1076.78  649923945
2   2023-11-06  1082.21  1089.66  1081.01  1089.66  508936305
3   2023-11-07  1086.68  1089.89  1079.42  1080.29  480141780
4   2023-11-08  1079.14  1113.43  1075.80  1113.43  800215243
..         ...      ...      ...      ...      ...        ...
245 2024-10-28  1252.76  1255.18  1250.94  1254.77  368249767
246 2024-10-29  1258.03  1262.38  1257.43  1261.78  454099020
247 2024-10-30  1263.57  1264.84  1255.07  1258.63  429794790
248 2024-10-31  1260.23  1267.88  1255.55  1264.48  409737985
249 2024-11-01  1262.39  1264.67  1254.33  1254.89  497670931

[250 rows x 6 columns]

In [10]:
stock.quote.history(symbol='HNXINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time    open    high     low   close     volume
0   2023-11-02  209.83  218.38  208.06  217.97  116214718
1   2023-11-03  217.97  219.44  216.42  217.75   91410974
2   2023-11-06  217.77  219.59  215.54  219.59   76203308
3   2023-11-07  217.73  221.57  217.73  218.29   88848102
4   2023-11-08  218.36  227.03  216.63  227.03  124639016
..         ...     ...     ...     ...     ...        ...
245 2024-10-28  223.94  225.21  222.73  224.59   35431585
246 2024-10-29  224.59  226.06  224.25  225.56   37164309
247 2024-10-30  225.22  226.57  224.63  225.88   40564851
248 2024-10-31  225.99  226.81  224.62  226.36   36067438
249 2024-11-01  226.35  226.39  224.56  225.41   38306566

[250 rows x 6 columns]

In [11]:
stock.quote.history(symbol='UPCOMINDEX', start='2024-01-02', end='2024-11-01', interval='1D')

          time   open   high    low  close    volume
0   2023-11-02  81.70  83.97  81.69  83.97  45099960
1   2023-11-03  83.97  84.33  83.64  84.16  39278480
2   2023-11-06  84.17  85.05  84.17  85.05  27605093
3   2023-11-07  85.06  85.18  84.34  84.61  31644159
4   2023-11-08  84.58  86.17  84.23  86.17  50719988
..         ...    ...    ...    ...    ...       ...
245 2024-10-28  91.83  92.15  91.82  92.15  20380568
246 2024-10-29  92.15  92.40  91.93  92.32  22619774
247 2024-10-30  92.33  92.82  92.07  92.46  26581490
248 2024-10-31  92.47  92.56  92.05  92.38  30400557
249 2024-11-01  92.39  92.51  91.63  91.96  38320035

[250 rows x 6 columns]

##### Chứng quyền

In [12]:
stock.quote.history(symbol='CFPT2314', start='2024-01-02', end='2024-11-01', interval='1D')

          time  open  high   low  close  volume
0   2023-11-02  1.76  1.82  1.76   1.82   44300
1   2023-11-03  1.92  1.92  1.84   1.88   28000
2   2023-11-06  1.88  1.89  1.86   1.87   44300
3   2023-11-07  1.86  1.86  1.86   1.86     800
4   2023-11-08  1.87  1.98  1.85   1.98  169300
..         ...   ...   ...   ...    ...     ...
245 2024-10-28  5.70  5.83  5.70   5.76  246500
246 2024-10-29  5.77  5.88  5.77   5.82   61800
247 2024-10-30  5.87  5.93  5.87   5.90   48700
248 2024-10-31  6.06  6.06  5.88   5.93  626800
249 2024-11-01  5.75  5.82  5.65   5.77  302400

[250 rows x 6 columns]

#### Intraday: dữ liệu khớp lệnh

In [13]:
# Dữ liệu khớp lệnh trong ngày giao dịch realtime hoặc ngày gần nhất (ngoài giờ giao dịch)
stock.quote.intraday(symbol='ACB', page_size=1000, show_log=False)

                         time    price  volume match_type
0   2025-05-07 09:15:00+07:00  24200.0     500        Buy
1   2025-05-07 09:15:00+07:00  24200.0     100        Buy
2   2025-05-07 09:15:00+07:00  24200.0     200        Buy
3   2025-05-07 09:15:00+07:00  24200.0     100        Buy
4   2025-05-07 09:15:00+07:00  24200.0    1000        Buy
..                        ...      ...     ...        ...
995 2025-05-07 11:06:58+07:00  24000.0    3800       Sell
996 2025-05-07 11:07:08+07:00  24000.0    3000       Sell
997 2025-05-07 11:07:12+07:00  24050.0    3400        Buy
998 2025-05-07 11:07:49+07:00  24000.0    2000       Sell
999 2025-05-07 11:07:50+07:00  24050.0     100        Buy

[1000 rows x 4 columns]

## Trading: Giao dịch

### Bảng giá

In [14]:
stock.trading.price_board(['ACB, FPT, VNM'])

,Mã CP,Giá,KLGD ròng(CM),%KLGD ròng (CM),Phiên +/-,% thay đổi giá 3D,% thay đổi giá 1M,% thay đổi giá 3M,% thay đổi giá 1Y,Đỉnh 1M,...,P/B,ROE,TCRating,Khối lượng Dư bán,Khối lượng Dư mua,TCBS định giá,Khớp nhiều nhất,Đ.góp VNINDEX,%Giá - %VNI (1M),%Giá - %VNI (1Y)
0,ACB,24000.0,-104400.0,-36.5,-1.0,-0.2,0.8,-5.5,3.9,24850.0,...,1.2,0.204646,3.0,464500.0,2464200.0,0.0,24050.0,0.0,-1.7,2.2
1,FPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VNM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
stock.trading.price_board(['VCB','ACB','TCB','BID']).T # Bỏ .T để xoay trở lại đúng kiểu hiển thị bảng giá

                          0         1         2         3
Mã CP                   VCB       ACB       TCB       BID
Giá                 57100.0   24000.0   26700.0   34750.0
KLGD ròng(CM)             0   -104400   -146900         0
%KLGD ròng (CM)         0.0     -36.5     -33.5       0.0
Phiên +/-                -3        -1         5         2
% thay đổi giá 3D      -0.5      -0.2       2.1       1.2
% thay đổi giá 1M      -5.0       0.8       4.5      -2.9
% thay đổi giá 3M      -8.0      -5.5       8.7     -11.7
% thay đổi giá 1Y      -7.9       3.9      14.9     -14.0
Đỉnh 1M               60000     24850     26850     37000
Đỉnh 3M               67300     26650     28000     41400
Đỉnh 1Y               67300     26650     28000     41816
Đáy 1M                52500     21800     23600     32450
Đáy 3M                52500     21800     23600     32450
Đáy 1Y                52500     21800     20850     32450
%Đỉnh 1Y              -15.3      -9.9      -4.1     -16.4
%Đáy 1Y                 8.6      10.1      28.8       7.7
P/E                    14.0       6.5       8.9       9.8
P/B                     2.3       1.2       1.2       1.6
ROE                0.179449  0.204646  0.147637  0.183364
TCRating                2.4       3.0       3.5       2.4
Khối lượng Dư bán     66900    464500    446100    130700
Khối lượng Dư mua    232100   2464200    508500     89500
TCBS định giá             0         0         0         0
Khớp nhiều nhất       57300     24050     26850     34700
Đ.góp VNINDEX           0.4       0.0     -0.25     -0.42
%Giá - %VNI (1M)       -7.6      -1.7       1.9      -5.5
%Giá - %VNI (1Y)       -9.6       2.2      13.2     -15.8

## Company: Thông tin công ty

In [16]:
from vnstock import Vnstock

company = Vnstock().stock(symbol='VCB', source='TCBS').company

2025-05-07 04:07:51 - vnstock.common.data.data_explorer - INFO - TCBS không cung cấp thông tin danh sách. Dữ liệu tự động trả về từ VCI.

Xem thông tin mô tả trên website [tại đây](https://vnstocks.com/docs/huong-dan/bao-cao-tai-chinh#dữ-liệu-báo-cáo-từ-tcbs)

### Tổng quan

In [17]:
# Bỏ .T để xoay dòng thành cột
company.overview().T

                                            0
symbol                                    VCB
exchange                                 HOSE
industry                                Banks
company_type                               NH
no_shareholders                         25183
foreign_percent                         0.224
outstanding_share                      8355.7
issue_share                            8355.7
established_year                         2008
no_employees                            24306
stock_rating                              2.4
delta_in_week                          -0.036
delta_in_month                         -0.076
delta_in_year                          -0.096
short_name                        Vietcombank
website            https://vietcombank.com.vn
industry_id                               289
industry_id_v2                           8355

### Hồ sơ

In [18]:
# Bỏ .T để xoay dòng thành cột
company.profile().T

                                                                     0
symbol                                                             VCB
company_name         Joint Stock Commercial Bank For Foreign Trade ...
company_profile       Joint Stock Commercial Bank For Foreign Trade...
history_dev            October 30, 1962: Bank for Foreign Trade of ...
company_promise                                                   None
business_risk         Risks related to geopolitical instability and...
key_developments       Account service Mobilizing capital service; ...
business_strategies      As the leading bank in Vietnam, one of the...

### Cổ đông

In [19]:
company.shareholders()

                share_holder  share_own_percent
0  The State Bank Of Vietnam             0.7480
1          Mizuho Bank, Ltd.             0.1500
2                      Other             0.0207

### Giao dịch nội bộ

In [20]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.insider_deals().head()

,deal_announce_date,deal_method,deal_action,deal_quantity,deal_price,deal_ratio
0,2025-04-14,Cổ đông nội bộ,Mua,0.0,59300.0,-0.039
1,2025-02-20,Cổ đông nội bộ,Mua,10000.0,61338.0,-0.071
2,2023-12-21,Cổ đông nội bộ,Mua,5000.0,54114.0,0.053
3,2020-12-30,Cổ đông sáng lập,Bán,-2523.0,42927.0,0.328
4,2020-12-23,Cổ đông nội bộ,Bán,-15000.0,42751.0,0.333

### Công ty con, liên kết

In [21]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.subsidiaries().head()

                                    sub_company_name  sub_own_percent
0  Vietnam Foreign Trade Joint Stock Bank Securit...              1.0
1  Money Transfer Company Limited Joint Stock Com...              1.0
2             Vietcombank Financial Leasing Co., Ltd              1.0
3    Vietnam Finance Company In Hong Kong - Vinafico              1.0
4      Foreign Trade Of Vietnam Bank Limited In Laos              1.0

### Ban lãnh đạo

In [22]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.officers().head()

         officer_name             officer_position  officer_own_percent
6   Nguyen Danh Luong                    Spokesman                  0.0
14      Le Hoang Tung                    Spokesman                  0.0
12   Do Thi Mai Huong  Member of Supervisors Board                  0.0
4   Nguyen Danh Luong   Member of Management Board                  0.0
10     Le Thi Kim Nga   Member of Management Board                  0.0

### Sự kiện

In [23]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.events().head()

,rsi,rs,id,price,price_change,price_change_ratio,price_change_ratio_1m,event_name,event_code,notify_date,exer_date,reg_final_date,exer_right_date,event_desc
0,39.6,32.0,2590699,57300.0,-200.0,-0.003,-0.105,VCB - Financial Statement Quarter 1/2025,KQQY,2025-04-29,2025-04-29,1753-01-01,1753-01-01,VCB - Financial Statement Quarter 1/2025
1,39.6,32.0,2590719,57300.0,-200.0,-0.003,-0.105,VCB - Financial Statement Quarter 1/2025 (hold...,KQQY,2025-04-29,2025-04-29,1753-01-01,1753-01-01,VCB - Financial Statement Quarter 1/2025 (hold...
2,41.8,44.0,2590066,57500.0,-700.0,-0.012,-0.131,"VCB- Lists additional 2,766,583,832 shares",AIS,2025-04-25,2025-04-23,1753-01-01,1753-01-01,Joint Stock Commercial Bank For Foreign Trade ...
3,44.4,51.0,2588704,59300.0,-500.0,-0.008,-0.102,VCB - Notification Insider Transaction,DDALL,2025-04-14,2025-05-16,1753-01-01,1753-01-01,- Name of person/ corporation that conducts th...
4,50.8,52.0,2586617,NaN,NaN,NaN,NaN,VCB - Audited Financial Statement FY 2024,KQCT,2025-03-29,2025-03-29,1753-01-01,1753-01-01,VCB - Audited Financial Statement FY 2024

### Tin tức

In [24]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
company.news().head()

,rsi,rs,price,price_change,price_change_ratio,price_change_ratio_1m,id,title,source,publish_date
0,39.6,29.0,57500.0,0.0,0.0,-0.113,11557398,VCB: Nghị quyết và Biên bản họp ĐHĐCĐ thường n...,TCBS,2025-04-28 14:15:00
1,39.6,29.0,57500.0,0.0,0.0,-0.113,11557327,VCB: Thông báo thay đổi nhân sự công ty,TCBS,2025-04-28 10:41:00
2,39.6,29.0,NaN,NaN,NaN,NaN,11555885,Chủ tịch Nguyễn Thanh Tùng: Chính sách thuế củ...,TCBS,2025-04-26 15:08:00
3,39.6,29.0,NaN,NaN,NaN,NaN,11555867,ĐHĐCĐ Vietcombank (VCB) 2025: Thông qua kế hoạ...,TCBS,2025-04-26 14:38:00
4,39.6,29.0,NaN,NaN,NaN,NaN,11556081,"VCB: Thông báo cập nhật, bổ sung tài liệu họp ...",TCBS,2025-04-26 10:54:00

### Cổ tức

In [25]:
company.dividends()

   exercise_date  cash_year  cash_dividend_percentage issue_method
0     2025-03-12       2025                     0.495        share
1     2023-07-25       2023                     0.181        share
2     2021-12-22       2022                     0.276        share
3     2021-12-22       2020                     0.120         cash
4     2020-12-21       2019                     0.080         cash
5     2019-12-30       2018                     0.080         cash
6     2018-10-05       2017                     0.080         cash
7     2017-09-28       2016                     0.080         cash
8     2016-09-09       2015                     0.100         cash
9     2015-06-26       2014                     0.100         cash
10    2014-06-18       2013                     0.120         cash
11    2013-02-26       2012                     0.120         cash
12    2012-02-24       2011                     0.120         cash
13    2011-07-18       2011                     0.120        share
14    2010-03-10       2009                     0.120         cash

## Finance: Báo cáo tài chính

In [26]:
from vnstock import Vnstock
stock = Vnstock().stock(symbol='VCI', source='TCBS')

2025-05-07 04:07:52 - vnstock.common.data.data_explorer - INFO - TCBS không cung cấp thông tin danh sách. Dữ liệu tự động trả về từ VCI.

### Bảng cân đối kế toán

In [27]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.balance_sheet(period='year').head()

,short_asset,cash,short_invest,short_receivable,inventory,long_asset,fixed_asset,asset,debt,short_debt,long_debt,equity,capital,other_debt,un_distributed_income,minor_share_holder_profit,payable
period,,,,,,,,,,,,,,,,,
2024,26492,4744,21073,507,0,100,37,26592,13648,12574,0,12944,7181,78,0,0,13648
2023,17174,788,15097,1094,0,81,23,17255,9884,8979,0,7371,4375,16,0,0,9884
2022,14158,3424,10562,120,0,85,23,14243,7747,6326,0,6495,4355,317,0,0,7747
2021,16569,1132,14998,285,0,67,13,16636,10094,6363,0,6542,3330,12,0,0,10094
2020,8312,643,6698,222,0,70,14,8382,3861,2696,0,4521,1656,28,0,0,3861

In [28]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.balance_sheet(period='quarter').head()

,quarter,year,short_asset,cash,short_invest,short_receivable,inventory,long_asset,fixed_asset,asset,debt,short_debt,long_debt,equity,capital,other_debt,un_distributed_income,minor_share_holder_profit,payable
period,,,,,,,,,,,,,,,,,,,
2025-Q1,1,2025,23621,2302,19710,1257,0,107,43,23728,11148,10311,0,12580,7181,33,0.0,0,11148
2024-Q4,4,2024,26492,4744,21073,507,0,100,37,26592,13648,12574,0,12944,7181,78,0.0,0,13648
2024-Q3,3,2024,20322,2544,17409,236,0,93,29,20415,11773,10833,0,8642,5745,12,0.0,0,11773
2024-Q2,2,2024,23010,3903,17775,931,0,95,32,23105,14247,12392,0,8859,4419,11,0.0,0,14247
2024-Q1,1,2024,19458,1041,17454,703,0,86,22,19545,11367,10240,0,8177,4375,19,0.0,0,11367

### Báo cáo kết quả kinh doanh

In [29]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.income_statement(period='year').head()

,revenue,year_revenue_growth,cost_of_good_sold,gross_profit,operation_expense,operation_profit,year_operation_profit_growth,interest_expense,pre_tax_profit,post_tax_profit,share_holder_income,year_share_holder_income_growth,ebitda
period,,,,,,,,,,,,,
2024,3696,0.495,-1717,1978,-145,1833,0.425,-764,1089,911,911,0.851,1844.0
2023,2472,-0.217,-1064,1409,-122,1286,-0.235,-563,570,492,492,-0.434,1296.0
2022,3156,-0.149,-1399,1758,-77,1681,-0.234,-477,1060,869,869,-0.420,1691.0
2021,3707,1.143,-1326,2381,-188,2193,0.932,-331,1851,1499,1499,0.949,2201.0
2020,1730,0.122,-522,1208,-72,1135,0.123,-174,951,769,769,0.109,1146.0

In [30]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.income_statement(period='quarter').head()

,quarter,year,revenue,year_revenue_growth,quarter_revenue_growth,cost_of_good_sold,gross_profit,operation_expense,operation_profit,year_operation_profit_growth,quarter_operation_profit_growth,interest_expense,pre_tax_profit,post_tax_profit,share_holder_income,year_share_holder_income_growth,quarter_share_holder_income_growth,ebitda
period,,,,,,,,,,,,,,,,,,
2025-Q1,1,2025,851,0.055,-0.148,-314,537,-23,514,0.267,0.152,-172,355,295,295,0.491,0.350,518.0
2024-Q4,4,2024,999,0.240,0.025,-520,479,-32,447,0.320,-0.026,-197,253,218,218,0.776,0.014,450.0
2024-Q3,3,2024,974,0.461,0.064,-468,506,-48,458,0.235,-0.122,-199,265,215,215,0.203,-0.229,461.0
2024-Q2,2,2024,916,0.829,0.136,-359,557,-34,522,0.540,0.286,-189,344,279,279,1.388,0.412,525.0
2024-Q1,1,2024,806,0.615,0.001,-370,436,-30,406,0.709,0.200,-179,228,198,198,1.707,0.608,408.0

### Báo cáo lưu chuyển tiền tệ

In [31]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.cash_flow(period='year').head()

        invest_cost  from_invest  from_financial  from_sale  free_cash_flow
period
2024            -31          -31            7371      -3384           809.0
2023             -8           -8            1728      -4356           526.0
2022            -22          -22           -1428       3742           981.0
2021             -6           -6            4246      -3750          1401.0
2020            -14          -13             433       -572           975.0

In [32]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.income_statement(period='quarter').head()

,quarter,year,revenue,year_revenue_growth,quarter_revenue_growth,cost_of_good_sold,gross_profit,operation_expense,operation_profit,year_operation_profit_growth,quarter_operation_profit_growth,interest_expense,pre_tax_profit,post_tax_profit,share_holder_income,year_share_holder_income_growth,quarter_share_holder_income_growth,ebitda
period,,,,,,,,,,,,,,,,,,
2025-Q1,1,2025,851,0.055,-0.148,-314,537,-23,514,0.267,0.152,-172,355,295,295,0.491,0.350,518.0
2024-Q4,4,2024,999,0.240,0.025,-520,479,-32,447,0.320,-0.026,-197,253,218,218,0.776,0.014,450.0
2024-Q3,3,2024,974,0.461,0.064,-468,506,-48,458,0.235,-0.122,-199,265,215,215,0.203,-0.229,461.0
2024-Q2,2,2024,916,0.829,0.136,-359,557,-34,522,0.540,0.286,-189,344,279,279,1.388,0.412,525.0
2024-Q1,1,2024,806,0.615,0.001,-370,436,-30,406,0.709,0.200,-179,228,198,198,1.707,0.608,408.0

### Chỉ số tài chính

In [33]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.ratio(period='year', dropna=True).head()

2025-05-07 04:07:53 - vnstock.common.data.data_explorer - INFO - Tham số dropna không được hỗ trợ cho nguồn dữ liệu TCBS

,price_to_earning,price_to_book,value_before_ebitda,dividend,roe,roa,days_receivable,days_payable,earning_per_share,book_value_per_share,...,cash_on_capitalize,revenue_on_work_capital,capex_on_fixed_asset,revenue_on_asset,post_tax_on_pre_tax,ebit_on_revenue,pre_tax_on_ebit,payable_on_equity,ebitda_on_stock_change,book_value_per_share_change
period,,,,,,,,,,,,,,,,,,,,,
2024,26.0,1.8,18.9,0.020,0.090,0.042,1045.0,21,1268,18025,...,0.178,0.3,-0.840,0.1,0.8,0.496,0.6,1.1,0.075,0.756
2023,47.2,3.2,21.3,NaN,0.071,0.031,1061.0,30,685,10264,...,0.038,0.3,-0.337,0.1,0.9,0.520,0.4,1.3,-0.325,0.135
2022,14.4,1.9,10.9,0.069,0.133,0.056,788.0,79,1210,9045,...,0.249,0.5,-0.952,0.2,0.8,0.533,0.6,1.2,-0.502,-0.395
2021,15.6,3.6,8.4,NaN,0.271,0.120,568.0,95,3425,14952,...,0.078,0.6,-0.489,0.2,0.8,0.592,0.8,1.5,0.271,0.440
2020,12.1,2.1,10.2,NaN,0.179,0.098,914.0,39,1765,10382,...,0.062,0.4,-0.961,0.2,0.8,0.656,0.8,0.9,0.111,-0.147

In [34]:
# Bỏ .head() để hiển thị toàn bộ dữ liệu
stock.finance.ratio(period='quarter').head()

,quarter,year,price_to_earning,price_to_book,value_before_ebitda,roe,roa,days_receivable,days_payable,earning_per_share,...,cash_on_capitalize,revenue_on_work_capital,capex_on_fixed_asset,revenue_on_asset,post_tax_on_pre_tax,ebit_on_revenue,pre_tax_on_ebit,payable_on_equity,ebitda_on_stock_change,book_value_per_share_change
period,,,,,,,,,,,,,,,,,,,,,
2025-Q1,1,2025,26.4,2.1,17.7,0.097,0.047,1054.0,24,1403,...,0.087,0.3,-1.092,0.2,0.8,0.605,0.7,0.9,0.059,-0.028
2024-Q4,4,2024,26.0,1.8,18.9,0.090,0.042,1045.0,21,1268,...,0.178,0.3,-1.031,0.2,0.9,0.447,0.6,1.1,-0.069,0.498
2024-Q3,3,2024,32.1,3.0,18.1,0.102,0.044,874.0,9,1135,...,0.110,0.4,-0.952,0.2,0.8,0.470,0.6,1.4,-0.085,-0.024
2024-Q2,2,2024,32.2,2.8,17.7,0.096,0.041,982.0,120,1084,...,0.188,0.4,-0.935,0.2,0.8,0.570,0.7,1.6,0.117,0.083
2024-Q1,1,2024,47.4,3.6,20.6,0.082,0.036,1035.0,54,858,...,0.050,0.4,-0.615,0.2,0.9,0.504,0.6,1.4,0.130,0.109